name: Build

on:
    push:
        branches: [master, release]
    pull_request:
        branches: [master, release]
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"
                  cache: "npm"
            - run: npm ci
            - run: npm run lint

    format-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"
                  cache: "npm"
            - run: npm ci
            - run: |
                  if npm run format-check; then
                    echo "Format check passed"
                  else
                    echo "Prettier detected formatting errors."
                    echo "Will re-run Prettier to fix the errors and then run a diff to see what they are."
                    npm run format-apply
                    git --no-pager diff --color
                    exit 1
                  fi

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"
                  cache: "npm"
            - run: npm ci
            - run: npm run build
